body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    transition: 1s;
}